#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>


/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp ESC    &kp Q    &kp W     &kp E    &kp R     &kp T    &kp Y     &kp U    &kp I     &kp O    &kp P     &kp BSLH
                &kp TAB    &kp A    &kp S     &kp D    &kp F     &kp G    &kp H     &kp J    &kp K     &kp L    &kp SEMI  &kp SQT
                &kp LSHIFT &kp Z    &kp X     &kp C    &kp V     &kp B    &kp N     &kp M    &kp COMMA &kp DOT  &kp FSLH  &kp RET
                &kp LCTRL  &kp LGUI &kp LALT  &out OUT_TOG    &kp SPACE &mo 1    &kp BSPC  &kp DEL  &kp LEFT  &kp DOWN &kp UP    &kp RIGHT
            >;
        };

        lower {
            // ----------------------------------------------------------------------------------------------------------
            // |  ESC  |  F2  |  F3  |  F4  |  F5  |  F6  |-------|-------|   F7  |  F8   |  F9  | F10  |  F11  |  F12  |
            // |   ~   |  !   |  @   |  #   |  $   |  %   |-------|-------|   ^   |   &   |  *   |  (   |   )   |  DEL  |
            // |       |  F1  |  F2  |  F3  |  F4  |  F5  |-------|-------|   F6  |   _   |  +   |  {   |   }   |   |   |
            // |       |  F7  |  F8  |  F9  |  F10 |  F11 |-------|-------|   F12 | LS(#) |LS(|) |      |       |       |
            // |-------|      |      |      |      |      |       |       |       | NEXT  | Vol- | Vol+ | PLAY  |-------|
            bindings = <
                &kp ESC    &kp Q    &kp W     &kp E    &kp R     &kp T    &kp Y     &kp U    &kp I     &kp O    &kp P     &kp BSLH
                &kp TAB    &kp A    &kp S     &kp D    &kp F     &kp G    &kp H     &kp J    &kp K     &kp L    &kp SEMI  &kp SQT
                &kp LSHIFT &kp Z    &kp X     &kp C    &kp V     &kp B    &kp N     &kp M    &kp COMMA &kp DOT  &kp FSLH  &kp RET
                &kp LCTRL  &kp LGUI &kp LALT  &out OUT_TOG    &kp SPACE &mo 1    &kp BSPC  &kp DEL  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3
            >;
        };
    };
};